<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog!</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav>
        <a class="nav-item" id="home-button" href="/">Home</a>
        <a class="nav-item" id="dasboard-button" href="/dashboard">Dashboard</a>
        <a class="nav-item" id="login-button" href="/login">Login</a>
        <a class="nav-item" id="logout-button" href="/">Logout</a>
        <div class="tech-blog-header">
            <h1 class="tech-blog-header-text">The Tech Blog</h1>
        </div>
    </nav>
    <main>
        {{{ body }}}
    </main>
  <script src="/javascript/logout.js"></script>  <!--not sure if i need this-->
</body>
</html>