<article class="post">
    <div class="title">
        <h2>
            Edit Post
        </h2>
        <h2>{{post.title}} by {{post.user.username}} </h2>
        <span>{{post.body}}</span>
    </div>
    <button class="save-edited-post">Save Post</button>
</article>



<script src="/javascript/edit-post.js"></script>