<link rel="stylesheet" href="/stylesheets/style.css">

<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        <a class="homepage-post-title"href="/post/{{post.id}}">{{post.title}}</a> 
       <span> by: {{user.username}}</span>
      </div>
      <div class="meta homepage-post-body">
        {{post.body}}
      </div>
    </article>
  </li>
  {{/each}}
</ol>